.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 1rem;
    transition: .25s;
}

.acordeon.open,
.acordeon:hover{
    background-color: #55569E;
    border-color: #55569E;
}

.acordeon .trigger {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    border: none;

}

.acordeon .trigger:hover {
    cursor: pointer;
}

.acordeon .trigger::after {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/arrow-top.svg') ;
    transition: .25s;

}

.acordeon.open .trigger::after {
    transform: rotate(180deg)
}

.acordeon ::content {
    display: none;
}

.acordeon.open .content {
    display: block;
    padding: 0 1rem 1rem 2rem;
    height: auto;
    opacity: 1;
}

.acordeon .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transform: opacity .25s ease-in-out;
}
